@model List<User>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Users</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.FullName</td>
                                    <td>
                                        <a class="btn btn-success" asp-controller="User" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                        <a class="btn btn-dark" asp-controller="User" asp-action="ChangePassword" asp-route-id="@item.FullName">Change Password</a>
                                        <a class="btn btn-dark" asp-controller="User" asp-action="ChangeRole" asp-route-id="@item.FullName">Change Role</a>
                                        <a class="btn btn-dark" asp-controller="User" asp-action="UserStatus" asp-route-id="@item.FullName">User Status</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
